resources/xml/RUL2_IID_structure.dtd

<!ELEMENT iid_tree (node+)>
<!ELEMENT node (regex*,(regex|node),node*)>
<!ELEMENT regex (requires*)>
<!ELEMENT requires EMPTY>

<!ATTLIST iid_tree
    selected (true | false) "false"
    disabled (true | false) "false"
>
<!ATTLIST node
    name CDATA #REQUIRED
    selected (true | false) "false"
    disabled (true | false) "false"
>
<!ATTLIST regex value CDATA #REQUIRED>
<!ATTLIST requires nodename CDATA #REQUIRED>
